body {
    font-family: 'Roboto', sans-serif;
    color:#333;
}

#headline_image {
    height:500px;
    background:url('../images/banner-image.png')
                no-repeat
                center center/cover;
}

.image_text {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size:1em;
  color:#FFF;
}

.light_link {
  color:#FFF;
}

.light_link:hover {
  color:#FFF;
}

.dark_link {
  color:#333;
}

.dark_link:hover {
  color:#333;
}

.headline_text {
  position: absolute;
  top: 160px;
  left: 10%;
  font-size:2em;
  color:#FFF;
}

.headline_banner {
    position:relative;
}

#navigation_bar {
  position: sticky;
  top: 0;
  z-index:100;
}

.nav_option {
    cursor:pointer;
    padding:5px;
    border:1px #000 solid;
    background-color:white;
}

.nav_option_text {
    text-transform: uppercase;
    font-size:1.4em;
    text-align:center;
    margin-bottom:0px;
}

.active {
    background-color:#9A8F7D;
}

.main_body {
    padding-top:30px;
    padding-bottom:30px;
}

@media only screen and (min-width: 768px) {
  .main_body {
      padding-left:10%;
      padding-right:10%;
  }
}

.subtitle {
    font-weight:900;
}

.main_body_drop {
    padding-top:45px;
}

/*objectives page */

#process_diagram {
    width:80%;
    padding-left:10%;
}

/*key findings page*/ 

.key_finding {
    padding-top:15px;
    border-bottom:1px solid #000;
    cursor:pointer;
}

.expanded {
    border-bottom:0px solid #000;
}

.key_finding_title {
    font-size:1.4em;
}

.expanded_finding {
    display:none;
    padding-bottom:60px;
    padding-left:5%;
    padding-right:5%;
    padding-top:30px;
}

/* css icons */

.arrow {
  border: solid #777;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 5px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: translate(10px,-5px) rotate(45deg); 
}

.up {
  transform: rotate(225deg);
  -webkit-transform: translate(10px,0px) rotate(225deg); 
}

#tooltable {
  padding-left:15px;
  padding-right:15px;
}

.details {
  background-color:#f0f0f0;
  display:none;
}

.key_word {
  font-weight:800;
}

.reference {
  font-size:0.65em;
}

.reference_number {
   vertical-align: super;
   font-size:0.6em;
}

.key_finding_image {
  width:80%;
  padding-left:10%;
  margin-bottom:30px;
}

.recommendation {
  font-weight:800;
  margin-bottom:0px;
}

.recommendation2 {
  font-weight:800;
  font-size:1.2em;
}

.findings_table {
  width:90%;
  padding-left:5%;
  font-size:0.65em;
}

.findings_table td {
  border:1px solid #ddd;
  height:60px;
}

.blue_cell {
  background-color:#E6F0FA!important;
}

.red_cell {
  background-color:#F0CDD2!important;
}

.key {
  height:18px;
  width:18px;
  float:left;
  margin-right:8px;
}

#reportimage {
  width:300px;
}